&gpioc {
	status = "okay";
};

/{
	zephyr,user {
		io-channels = <&adc1 1>, <&adc1 2>, <&adc1 3>;
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
	
};

&spi1 {
	compatible = "st,stm32-spi";
	status = "okay";
	pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5
			&spi1_miso_pa6 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	cs-gpios = <&gpiof 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, 
				<&gpiob 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	clock-frequency = <8000000>;

	spitest0: spideva@0 {
		compatible = "magics,spi-device";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <8000000>;
	};

	spitest1: spidevb@1 {
		compatible = "magics,spi-device";
		status = "okay";
		reg = <1>;
		spi-max-frequency = <8000000>;
   };
};

&timers2 {
	status = "okay";
	counters2: counter {
		compatible = "st,stm32-counter";
		status = "okay";
		label = "COUNTER_2";
	};
};


&pll {
	prediv = <1>;
	mul = <9>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};